examples/basic-example.json
[{"id":"90bb8648.265898","type":"tankerkoenig","z":"84fc2e2a.509918","name":"","location":"","x":1440,"y":360,"wires":[["8717ea76.46a4b8"]]},{"id":"c3666c02.d943e","type":"inject","z":"84fc2e2a.509918","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1230,"y":360,"wires":[["90bb8648.265898"]]},{"id":"8717ea76.46a4b8","type":"debug","z":"84fc2e2a.509918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":360,"wires":[]}]
