examples/simple-example.json
[{"id":"6e44a7c4.b1112","type":"tankerkoenig","z":"84fc2e2a.509918","name":"","location":"e140c8c1.45f4f8","x":1440,"y":540,"wires":[["787d1c91.66a6b4","6c74592c.f6d6e","5b68136a.c45f1c","ed833c32.e133c","100d1525.464993"]]},{"id":"e4ceb85d.656548","type":"inject","z":"84fc2e2a.509918","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1230,"y":540,"wires":[["6e44a7c4.b1112"]]},{"id":"5b68136a.c45f1c","type":"debug","z":"84fc2e2a.509918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[0].e5","targetType":"msg","statusVal":"payload","statusType":"auto","x":1720,"y":600,"wires":[]},{"id":"a964abbc.4165d8","type":"comment","z":"84fc2e2a.509918","name":"Ausgabe des ersten Arrayelements msg.payload[0]","info":"","x":1370,"y":480,"wires":[]},{"id":"6c74592c.f6d6e","type":"debug","z":"84fc2e2a.509918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[0].e10","targetType":"msg","statusVal":"payload","statusType":"auto","x":1720,"y":660,"wires":[]},{"id":"787d1c91.66a6b4","type":"debug","z":"84fc2e2a.509918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[0].diesel","targetType":"msg","statusVal":"payload","statusType":"auto","x":1730,"y":720,"wires":[]},{"id":"ed833c32.e133c","type":"debug","z":"84fc2e2a.509918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[0].isOpen","targetType":"msg","statusVal":"payload","statusType":"auto","x":1730,"y":780,"wires":[]},{"id":"100d1525.464993","type":"debug","z":"84fc2e2a.509918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[0].name","targetType":"msg","statusVal":"payload","statusType":"auto","x":1730,"y":540,"wires":[]},{"id":"e140c8c1.45f4f8","type":"tankerkoenig-config","name":"Baesweiler","longitude":"6.1776","latitude":"50.9115","radius":"1.5","petroltype":"e10","key":"b16b00b5-affe-1105-2301-321badefee69"}]
